<div class="background">
  <mat-card class="login-card">
    <mat-card-title>
      Reset Password
    </mat-card-title>
    <mat-card-content *ngIf="!this.setComplete">
      <form>
        <mat-form-field color="primary" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput [(ngModel)]="this.password" required minlength="8" name="password"
            [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-hint>At least 8 characters, 1 Letter and 1 digit</mat-hint>
        </mat-form-field>

        <mat-form-field color="primary" class="full-width">
          <mat-label>Repeat Password</mat-label>
          <input matInput [(ngModel)]="this.repeatPassword" required minlength="8" name="repeatPassword"
            [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-hint>Exact match</mat-hint>
        </mat-form-field>

        <div class="mg-t-25">
          <button *ngIf="!this.setComplete" type="submit" mat-button color="accent" (click)="this.setPassword()">
            RESET PASSWORD
          </button>
        </div>
      </form>
    </mat-card-content>

    <mat-card-content *ngIf="this.setComplete" class="mg-t-25">
      <p>Password has been successfully reset. You may sign in now.</p>
      <div class="text-align-center mg-t-25">
        <button mat-button style="padding: 0;" color="" (click)="this.router.navigate(['/login'])">
          SIGN IN
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>