<div class="background">
  <mat-card class="login-card">
    <mat-card-title>
      Forgot Password
    </mat-card-title>
    <mat-card-content class="mg-t-25">
      <div *ngIf="!this.sentOnce">
        <mat-form-field color="primary" class="full-width">
          <mat-label>email</mat-label>
          <input matInput [(ngModel)]="this.email" required name="email" type="email">
        </mat-form-field>
      </div>

      <div *ngIf="this.sentOnce" class="mg-b-50">
        Email with instructions has been sent. Please check your inbox.
      </div>
    </mat-card-content>

    <mat-card-actions>
      <div class="grid-left-right full-width">
        <button mat-button color="accent" (click)="this.sendLink()" [disabled]="this.sendLinkLoading">
          {{this.sentOnce ? 'SEND AGAIN' : 'SEND LINK'}}
        </button>
        <button mat-button (click)="this.router.navigate(['/login'])">Back to sign in</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>