<div class="background">
  <mat-card class="login-card">
    <mat-card-title>
      Forgot Password
    </mat-card-title>
    <mat-card-content class="mg-t-25">
      <form>
        <mat-form-field *ngIf="!this.sentOnce" color="primary" class="full-width">
          <mat-label>email</mat-label>
          <input matInput [(ngModel)]="this.email" required name="email" type="email">
        </mat-form-field>
        <p *ngIf="this.sentOnce">Email with instructions has been sent. Please check your inbox.</p>

        <div class="grid-left-right full-width mg-t-15">
          <button mat-button color="accent" (click)="this.sendLink()" [disabled]="this.sendLinkLoading">
            {{this.sentOnce ? 'SEND AGAIN' : 'SEND LINK'}}
          </button>
          <button mat-button (click)="this.router.navigate(['/login'])">Back to Sign In</button>
          <span></span>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
