<mat-toolbar color="primary">
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <div>
    <a class="cursor-pointer" (click)="this.router.navigate(['/'])">
      Restaurant Review App
    </a>
  </div>
  <span class="flex-spacer"></span>
  
  <div *ngIf="this.user">
    <span class="mg-r-10">
      <button mat-flat-button (click)="this.router.navigate(['/profile'])">
        {{this.user.firstName}}
      </button>
    </span>

    <button mat-icon-button>
      <button mat-icon-button [matMenuTriggerFor]="menu" class="mg-l-10" (click)="getNotifs(true)">
        <mat-icon *ngIf="this.newNotifCount" [matBadge]="this.newNotifCount" matBadgeColor="warn" matBadgeSize="medium">
          notifications</mat-icon>
        <mat-icon *ngIf="!this.newNotifCount">notifications</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before" yPosition="below" class="notifications-menu-panel">
        <div *ngIf="this.notifsLoading" class="spinner-wrapper text-align-center">
          <mat-spinner [diameter]="40" class="refresh-spinner"></mat-spinner>
        </div>
        <div *ngIf="!this.notifsLoading && this.notifsResult">
          <div *ngFor="let notif of this.notifsResult.items; index as ni">
            <button mat-menu-item class="notifications-menu-item" (click)="onClickNotif(notif)"
              [class.font-bold]="!notif.seenDate">
              <div class="text-align-left pd-l-5 opacity-7" [matTooltip]="notif.createdAt | date:'dd-MM-YYYY h:mm a'"
                matTooltipPosition="left">
                {{notif.createdAt | humanize}} ago
              </div>
              <mat-divider></mat-divider>
              <div class="grid-auto-auto mg-t-10">
                <div class="text-align-center mg-auto pd-l-5 pd-r-5">
                  <!-- <button mat-fab color="primary" class="notifications-menu-item-fab">პენსიის მოთხოვნები</button> -->
                  {{notif.type === 'new_reply' ? 'Owner Replied!' : (notif.type === 'new_reply' ? 'New Review!' : '')}}
                </div>
                <div>
                  {{notif.text}}
                </div>
              </div>
            </button>
          </div>
        </div>
      </mat-menu>
    </button>

    <button mat-icon-button (click)="this.logout()">
      <mat-icon>power_settings_new</mat-icon>
    </button>
  </div>

  <div *ngIf="!this.user">
    <button mat-button (click)="this.router.navigate(['/login'])">
      SIGN IN
    </button>
    <button mat-button (click)="this.router.navigate(['/register'])">
      SIGN UP
    </button>
  </div>
</mat-toolbar>


<router-outlet></router-outlet>