<div class="background">
  <div class="login-card">
    <mat-card class="welcome-card mg-b-15">
      <mat-card-title>
        Welcome To The Restaurant Reveiw App
      </mat-card-title>
      <mat-card-subtitle>
        You may log back in below
      </mat-card-subtitle>
    </mat-card>

    <mat-card class="mg-t-10">
      <mat-card-title>
        Sign In
      </mat-card-title>
      <mat-card-content class="mg-t-25">
        <form>
          <mat-form-field color="primary" class="full-width">
            <mat-label>email</mat-label>
            <input matInput [(ngModel)]="this.email" required name="email" type="email">
          </mat-form-field>

          <mat-form-field color="primary" class="full-width">
            <mat-label>password</mat-label>
            <input matInput [(ngModel)]="this.password" required minlength="8" name="password" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            <mat-hint>At least 8 characters, 1 Letter and 1 digit.</mat-hint>
          </mat-form-field>

          <div class="grid-left-right full-width mg-t-15">
            <button mat-button type="submit" color="accent" (click)="this.login()">SIGN IN</button>
            <button mat-button (click)="this.router.navigate(['/forgot-password'])">Forgot Password</button>
            <button mat-button (click)="this.router.navigate(['/register'])">OR SIGN UP FOR FREE</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>