.background {
  display: grid;
  height: 100%;
  background-color: rgb(170, 170, 170);
  background-image: url(https://picsum.photos/3840/2160);
}

.login-card {
  margin: 120px auto;
  width: 420px;
  height: 360px;
}